.medal {
  font-size: 20;
  color: #212121;
  padding-top: 15;
  text-align: center;
  height: 60;
  width: 60;
  border-radius: 30;
}
.tab {
  background-color: #757575;
  color: white;
  text-align: center;
  font-size: 14;
  padding: 2 5;
  margin: 2;
  border: solid;
  border-width: 1;
  border-color: #757575;
}
.selected {
  background-color: #607D8B;
  color: white;
}
