<ActionBar title="Drivers"></ActionBar>

<StackLayout width="100%">
  <dashboard></dashboard>
  <GridLayout rows="auto" columns="*,auto,auto,auto,auto,auto,auto,*" width="100%" horizontalAlignment="center">
    <Label col="0"></Label>
    <Label col="1" text="All" class="tab" [class.selected]="range == 'all'" (tap)="setRange('all')"></Label>
    <Label col="2" text="Season" class="tab" [class.selected]="range == 'season'" (tap)="setRange('season')"></Label>
    <Label col="3" text=" | " verticalAlignment="center"></Label>
    <Label col="4" text="Average" class="tab" [class.selected]="type == 'average'" (tap)="setType('average')"></Label>
    <Label col="5" text="Wins" class="tab" [class.selected]="type == 'wins'" (tap)="setType('wins')"></Label>
    <Label col="6" text="Purses" class="tab" [class.selected]="type == 'purses'" (tap)="setType('purses')"></Label>
    <Label col="7"></Label>
  </GridLayout>
  <ScrollView>
  <StackLayout width="100%">
    <StackLayout *ngFor="let driver of drivers; let i = index" [visibility]="!isLoading ? 'visible' : 'collapse'">
      <StackLayout orientation="horizontal" width="100%" class="card" *ngIf="i < 3">
        <GridLayout rows="auto" columns="auto,*,auto">
        <StackLayout col="0" width="20%" verticalAlignment="center">
          <Label *ngIf="i == 0" text="1st" class="gold medal"></Label>
          <Label *ngIf="i == 1" text="2nd" class="silver medal"></Label>
          <Label *ngIf="i == 2" text="3rd" class="bronze medal"></Label>
        </StackLayout>
        <StackLayout col="1" verticalAlignment="center">
          <Label (tap)="goToDriver(driver.id)" text="{{driver.name}}" textwrap="true" class="name"></Label>
          <StackLayout orientation="horizontal" class="detail">
            <Label text="Purses: "></Label>
            <Image src="~/assets/coins.png" height="10"></Image>
            <Label [text]="range == 'all' ? userService.commaSeparateNumber(driver.purses) : userService.commaSeparateNumber(driver.seasonPurses)"></Label>
          </StackLayout>
        </StackLayout>
        <StackLayout col="2" class="stats" verticalAlignment="center">
          <GridLayout width="100%" rows="auto,auto,auto,auto,auto" columns="*,auto">
            <Label row="0" col="0" text="Starts: " class="stat"></Label>
            <Label row="0" col="1" [text]="range == 'all' ? driver.starts : driver.seasonStarts"></Label>
            <Label row="1" col="0" text="Wins: " class="stat"></Label>
            <Label row="1" col="1" [text]="range == 'all' ? driver.wins : driver.seasonWins"></Label>
            <Label row="2" col="0" text="Places: " class="stat"></Label>
            <Label row="2" col="1" [text]="range == 'all' ? driver.places : driver.seasonPlaces"></Label>
            <Label row="3" col="0" text="Shows: " class="stat"></Label>
            <Label row="3" col="1" [text]="range == 'all' ? driver.shows : driver.seasonShows"></Label>
            <Label row="4" col="0" text="Average: " class="stat"></Label>
            <Label row="4" col="1" [text]="range == 'all' ? driver.average : driver.seasonAverage"></Label>
          </GridLayout>
        </StackLayout>
        </GridLayout>
      </StackLayout>
      <GridLayout rows="auto" columns="auto,*,auto" width="100%" class="sm-card" *ngIf="i >= 3">
        <StackLayout row="{{i}}" col="0" width="20%" verticalAlignment="center">
          <Label text="{{i+1}}" class="place"></Label>
        </StackLayout>
        <StackLayout row="{{i}}" col="1" verticalAlignment="center">
          <Label (tap)="goToDriver(driver.id)" text="{{driver.name}}" textwrap="true" class="sm-name"></Label>
        </StackLayout>
        <StackLayout row="{{i}}" col="2" orientation="horizontal" class="stats" verticalAlignment="center">
          <Label *ngIf="range == 'all'" [text]="type == 'purses' ? userService.commaSeparateNumber(driver.purses) : '('+driver.starts+'-'+driver.wins+'-'+driver.places+'-'+driver.shows+' '+driver.average+')'"></Label>
          <Label *ngIf="range == 'season'" [text]="type == 'purses' ? userService.commaSeparateNumber(driver.seasonPurses) : '('+driver.seasonStarts+'-'+driver.seasonWins+'-'+driver.seasonPlaces+'-'+driver.seasonShows+' '+driver.seasonAverage+')'"></Label>
        </StackLayout>
      </GridLayout>
    </StackLayout>
  </StackLayout>
  </ScrollView>
  <GridLayout rows="*" columns="*" *ngIf="isLoading">
    <ActivityIndicator [busy]="isLoading" class="activity-indicator" [visibility]="isLoading ? 'visible' : 'collapse'"></ActivityIndicator>
  </GridLayout>
</StackLayout>
