<ActionBar title="{{username}}">
  <ActionItem (tap)="router.navigate(['/home']);" ios.position="right">
    <StackLayout>
      <Label text="&#xf015;" class="nav-home"></Label>
    </StackLayout>
  </ActionItem>
</ActionBar>

<StackLayout width="100%">
  <dashboard></dashboard>
  <ScrollView [visibility]="!isLoading ? 'visible' : 'collapse'">
    <StackLayout width="100%">
      <StackLayout orientation="horizontal" width="100%" class="card">
        <label text="&#xf2bd;" class="profile"></label>
        <StackLayout width="70%">
          <StackLayout>
            <Label text="{{username}}" class="name"></Label>
            <Label text="owner since {{dateJoined}}" class="detail"></Label>
          </StackLayout>
          <StackLayout orientation="horizontal">
            <StackLayout class="info" width="60%">
              <StackLayout orientation="horizontal">
                <Label text="Purses: " textWrap="true"></Label>
                <Image src="~/assets/coins.png" height="10"></Image>
                <Label text=" {{purses}}"></Label>
              </StackLayout>
            </StackLayout>
            <StackLayout class="stats" width="40%">
              <GridLayout width="100%" rows="auto,auto,auto,auto,auto" columns="*,auto">
                <Label row="0" col="0" text="Starts: " class="stat"></Label>
                <Label row="0" col="1" text="{{starts}}"></Label>
                <Label row="1" col="0" text="Wins: " class="stat"></Label>
                <Label row="1" col="1" text="{{wins}}"></Label>
                <Label row="2" col="0" text="Places: " class="stat"></Label>
                <Label row="2" col="1" text="{{places}}"></Label>
                <Label row="3" col="0" text="Shows: " class="stat"></Label>
                <Label row="3" col="1" text="{{shows}}"></Label>
                <Label row="4" col="0" text="Average: " class="stat"></Label>
                <Label row="4" col="1" text="{{average}}"></Label>
              </GridLayout>
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </StackLayout>
      <StackLayout>
        <Label text="Upcoming Races" class="table-title" (tap)="upcomingOpen = !upcomingOpen"></Label>
        <upcoming-races [races]="upcomingRaces" *ngIf="upcomingOpen"></upcoming-races>
        <Label text="Results" class="table-title" (tap)="resultsOpen = !resultsOpen"></Label>
        <past-races [races]="pastRaces" mode=1 *ngIf="resultsOpen"></past-races>
        <Label text="Horses" class="table-title" (tap)="horsesOpen = !horsesOpen"></Label>
        <StackLayout *ngIf="horsesOpen">
          <GridLayout columns="*,70,70" rows="*" width="100%" verticalAlignment="top" class="table-header table-body">
            <Label col="0" row="0" text="Name"></Label>
            <Label col="1" row="0" text="Age" horizontalAlignment="center"></Label>
            <Label col="2" row="0" text="Gender" horizontalAlignment="center"></Label>
          </GridLayout>
          <GridLayout columns="*,70,70" width="100%" *ngFor="let horse of horses; let i = index" class="table-body">
            <Label col="0" row="{{i+1}}" (tap)="goToHorse(horse.id)" [text]="horse.name.length ? horse.name : 'Unnamed'"></Label>
            <Label col="1" row="{{i+1}}" [text]="horse.age" horizontalAlignment="center"></Label>
            <Label col="2" row="{{i+1}}" [text]="horse.genderString" horizontalAlignment="center"></Label>
          </GridLayout>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
  <ActivityIndicator style="margin-top: 40%" [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" horizontalAlignment="center"></ActivityIndicator>
</StackLayout>
