.list-view {
  background-color: rgba(204,204,204,0.8);
}
.profile {
  text-align: center;
  color: #607D8B;
  font-size: 25;
  font-family: "FontAwesome";
}
.tab {
  background-color: #757575;
  color: white;
  text-align: center;
  font-size: 14;
  padding: 5 10;
  margin: 2;
  border: solid;
  border-width: 1;
  border-color: #757575;
}
.selected {
  background-color: #607D8B;
  color: white;
}
